section {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.photos-container {
    display: flex;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.about .text {
    display: flex;
    flex-direction: column;
}

.about .text p {
    display: flex;
}

img {
    width: 200px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#sf_palace {
    clip-path: inset(90px 0 0 0);
}
#spd_composite {
    clip-path: inset(15px 0 0 0);
}

@media (max-width: 768px) {
    section {
        margin-top: 15vw;
    }
}
