body, html {
    margin: 0;
    padding: 0;
}

.home-redirect {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 2vw;
    margin-left: 2vw;
}

.home-redirect a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Styles for tablets and smaller */

@media (max-width: 768px) {

    body {
        font-size: 25px;
    }

    .home-redirect {
        margin-top: 4vw;
        margin-left: 4vw;
    }

}

