.containers {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100vw;
    justify-content: space-between;
}

.image-container {
    width: 40vw;
    justify-content: center;
}

.image-container .mobile {
    display: none;
}

img {
    height: 250px;
    margin-top: 15vw;
    width: auto;
}

#hello-message {
    display: flex;
    margin-top: 7vw;
    margin-bottom: 10vw;

    justify-content: center;

    font-weight: bold;
}

#nav-list {
    display: flex;

    justify-content: center;

    text-decoration: none;
}
ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    .main-text {
        width: 100vw;
    }

    .image-container {
        width: 100vw;
        justify-items: center;
    }

    .image-container .mobile {
        display: flex;
    }

    img {
        display: none;
    }

    #hello-message {
        margin-top: 20vw;
    }

    li {
        padding: 20px;
    }
}
