.containers {
    text-align: center;
}

#hello-message {
    display: flex;
    width: 100vw;
    margin-top: 7vw;
    margin-bottom: 10vw;

    justify-content: center;

    font-weight: bold;
}

#nav-list {
    display: flex;
    width: 100vw;

    justify-content: center;

    text-decoration: none;
}
ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    #hello-message {
        margin-top: 20vw;
    }

    li {
        padding: 20px;
    }
}
