.page-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7vw;
    width: 100vw;
}
.page-header-container header {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    width: 30vw;
    text-align: center;
    padding: 1vw;
}

ul {
    display: flex;
    flex-direction: column;
    width: 100vw;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    /*margin-top: 5vw;*/
    align-items: center;
}

li {
    border-bottom: 1px solid #ccc;
    width: auto;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    max-width: 40vw;
    text-wrap: auto;
}
li a {
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {

    .page-header-container {
        margin-top: 15vw;
    }

    .page-header-container header {
        width: 50vw;
    }

    body {
        font-size: 20px;
    }

    ul {
        margin-top: 5vw;
    }

    li {
        padding: 20px;
    }
}
