.resume-container {
    width: 100vw;
    text-align: center;
}

.resume {
    width: 37vw;
    height: 52vw;
}

@media (max-width: 768px) {

    .resume {
        width: 45vw;
        height: 52vw;
    }

}
