.resume-container {
    width: 100vw;
    text-align: center;
}

.resume {
    width: 36vw;
    height: 51vw;
}

.open-pdf-container {
    width: 100vw;
    text-align: center;
}

.open-pdf-container .btn {
    color: black;
}

@media (max-width: 768px) {

    .resume {
        margin-top: 5vw;
        width: 70vw;
        height: 90vw;
    }

}
