<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - Ben Stahl</title>
    <link rel="stylesheet" href="../static/stylesheets/about.css">
    <link rel="stylesheet" href="../static/stylesheets/all.css">
</head>
<body>

<p class="home-redirect"><a href="/">home</a></p>

<section>

    <div class="photos-container">
        <div class="about photos">
            <img src="../static/images/headshot.JPG" alt="csba headshot">
        </div>
    </div>


    <div class="about text">

        <p>Hi, I'm Ben Stahl. I grew up in Wayland, Massachusetts where in freshman year of high school I started coding in Python.</p>

        <p>Since then, I've become fluent in <b>Python</b>, and proficient in <b>C, C++, Go, Java, and Rust.</b></p>

        <p>I'm a Junior attending <b>Lehigh University</b> in Bethlehem, PA, studying in an honors dual degree program: Computer</p>

        <p style="margin-top: 0;">Science & Business with a minor in Data Science.</p>

        <p>I love all things music, DJing. rock climbing, reading, lifting, running, basketball, volleyball,</p>
        <p style="margin-top: 0;">coding fun projects, and traveling.</p>


    </div>

</section>

</body>
</html>