<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ben Stahl - About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/stylesheets/about.css">
    <link rel="stylesheet" href="../static/stylesheets/all.css">
</head>
<body>

<p class="home-redirect"><a href="/">home</a></p>

<section>

    <div class="photos-container">
        <div class="about photos">
            <img src="../static/images/headshot.JPG" alt="csba headshot">
        </div>
    </div>


    <div class="about text">
        <p>
            I grew up in Wayland, Massachusetts (about 20 minutes outside Boston) with my three older siblings and parents.
            I first got into coding<br> in middle school trying to build a video game with my dad—then learned quickly how hard real games are.
            I picked programming<br>back up in high school and built a Python tool to monitor and schedule COVID-19 vaccine appointments for family and friends.
        </p>
        <p>
            Since then, I’ve become <strong>fluent in Python</strong> and proficient in <strong>C, C++, Go, Java,</strong> and <strong>Rust</strong>.
            I’m a junior at <strong>Lehigh University</strong> (Bethlehem, PA),<br>studying in an honors dual degree program in
            <strong>Computer Science &amp; Business</strong> with a minor in <strong>Data Science</strong>.
        </p>
        <p>
            Outside of class, I’m into music and DJing, rock climbing, reading, lifting, running, basketball, volleyball, building fun projects, and traveling.
        </p>


    </div>

</section>

</body>
</html>