<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ben Stahl - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/stylesheets/all.css">
    <link rel="stylesheet" href="../static/stylesheets/index.css">
</head>
<body>

<section class="containers">
    <div class="image-container desktop">
        <img src="../static/images/rhode_island_cropped.JPG" alt="rhode island">
    </div>
    <div class="main-text">
        <div id="hello-message">
            <a>hi, i'm Ben</a>
        </div>

        <div id="nav-list">
            <ul>
                <li><a href="/about">about me</a></li>
                <li><a href="/resume">resume</a></li>
                <li><a href="/projects">projects</a></li>
                <li><a href="/links">links</a></li>
                <li><a href="/photos">photos</a></li>
            </ul>
        </div>
    </div>
    <div class="image-container desktop">
        <img src="../static/images/bridge_cropped.JPG" alt="golden gate bridge">
    </div>



</section>

<div class="image-container mobile">
    <img src="../static/images/bridge_cropped.JPG" alt="golden gate bridge">
</div>

<div class="image-container mobile">
    <img src="../static/images/rhode_island_cropped.JPG" alt="rhode island">
</div>

</body>
</html>