<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ben Stahl - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/stylesheets/all.css">
    <link rel="stylesheet" href="../static/stylesheets/index.css">
</head>
<body>

<section class="containers">
    <div id="hello-message">
        <a>hi. I'm ben</a>
    </div>

    <div id="nav-list">
        <ul>
            <li><a href="/about">about me</a></li>
            <li><a href="/resume">resume</a></li>
            <li><a href="/projects">projects</a></li>
            <li><a href="/links">links</a></li>
            <li><a href="/photos">photos</a></li>
        </ul>
    </div>

</section>

</body>
</html>