<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ben Stahl - Links</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/stylesheets/all.css">
    <link rel="stylesheet" href="../static/stylesheets/links.css">
</head>
<body>
<p class="home-redirect"><a href="/">home</a></p>


<ul>
    <li><a href="https://www.github.com/benastahl">github</a></li>
    <li><a href="https://www.linkedin.com/in/ben-stahl">linkedin</a></li>
    <li><a href="https://www.instagram.com/benastahl">instagram</a></li>
</ul>

</body>
</html>