<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projects - Ben Stahl</title>
    <link rel="stylesheet" href="../static/stylesheets/all.css">
    <link rel="stylesheet" href="../static/stylesheets/projects.css">

</head>
<body>
<p class="home-redirect"><a href="/">home</a></p>
<div class="page-header-container">
    <header>my projects :)</header>
    <p style="color: #9a9a9a">(click proj for github)</p>
</div>
<ul>
    <li><a target="_blank" href="https://github.com/benastahl/tclslang"><strong>tclslang: a tcl extension for verilog analysis</strong><br><br>

        <strong>c/c++, svlang</strong>
        <br><br>
        A high-performance Tcl extension written in C++ that integrates the Slang SystemVerilog library into the Tcl scripting environment. Tclslang provides a programmable, object-oriented interface for parsing Verilog files and introspecting hardware designs, allowing users to navigate modules, cells, ports, and analyze signal drivers directly from Tcl scripts.
        
        <img src="../static/images/tclslang_object_model_architecture.svg" alt="tclslang diagram">

    </a></li>
    <li><a target="_blank" href="https://github.com/benastahl/keyval-enc-server-cse303"><strong>encrypted c++ server/client - for lehigh OS class</strong><br><br>

        <strong>c/c++</strong>
        <br><br>
        A project that I built on over the course of my lehigh university operating systems (cse303).
        Manages encrypted communication and commands between a client and server, all in c/c++.

        <img src="../static/images/keyval_server_durability_architecture.svg" alt="tclslang diagram">


    </a></li>

    <li><a target="_blank" href="https://github.com/benastahl/chrome-recaptcha-harvester"><strong>chrome recaptcha harvester</strong><br><br>

        <strong>python3, html, css, flask, chromedriver, multi-threading</strong>
        <br><br>

        my most popular open-source project I made for people looking to automate web-scraping or data
        collection from websites that have recaptcha v2 (image select) and v3 (invisible). The project works
        as both a harvester and a pipeline for recaptcha tokens. I spent around four years
        perfecting and updating this project.
        
        <img src="../static/images/recaptcha_harvester_token_pipeline.svg" alt="tclslang diagram">

    </a></li>

    <li><a target="_blank" href="https://github.com/benastahl/ben_portfolio_website"><strong>this website</strong><br><br>
        <strong>python, html, flask</strong>
        <br><br>

        a simple website with the goal of conveying professional and personal info about
        me as easily and clearly as possible. adapted for mobile.

    </a></li>

    <li><a target="_blank" href="https://github.com/benastahl/heardle-ultimate"><strong>heardle ultimate: a spotify-powered music game</strong><br><br>

        <strong>python, flask, jinja2, requests, html/css/javascript, spotify web api/sdk</strong>
        <br><br>

        A full-stack web application that allows users to play a "Heardle"-style music guessing game for any artist on Spotify. Built with Python and Flask, this app implements the complete Spotify OAuth 2.0 flow for user authentication and uses the Spotify Web API to dynamically fetch artist and track data for endless gameplay.


    </a></li>

    <li><a target="_blank" href="https://github.com/benastahl/QueueIT-MASTER"><strong>high-concurrency queue-it bot</strong><br><br>

        <strong>go (golang), goroutines, goquery, REST APIs, discord webhooks</strong>
        <br><br>
        A command-line tool written in Go designed to automate navigating Queue-IT virtual waiting rooms for high-demand online events. It utilizes goroutines for high concurrency, sophisticated session management with proxy rotation, and features built-in solvers for various anti-bot challenges, including Proof-of-Work and image-based captchas.

    </a></li>

    <li><a target="_blank" href="https://github.com/benastahl/cvs-reserve"><strong>covid-19 vaccine appointment scheduler</strong><br><br>

        <strong>python, requests</strong>
        <br><br>

        One of my first ever programs. I made it for my family to monitor and reserve covid-19 vaccine appointments
        at CVS when slots were limited.

    </a></li>

    <li><a target="_blank" href="https://github.com/benastahl/leetarena"><strong>leet arena: real-time coding competition platform</strong><br><br>

        <strong>python, flask, mongoDB, flask-socketIO (websockets), leetcode api, bcrypt</strong>
        <br><br>

        A real-time, multiplayer web application where users compete to solve LeetCode-style coding challenges the fastest. Built with a Flask and MongoDB backend, LeetArena uses WebSockets for live lobby interactions and queries the LeetCode GraphQL API to fetch problems and submit solutions on behalf of the user.

    </a></li>

    <li><a target="_blank" href="https://github.com/benastahl/athleats"><strong>athleats: food delivery platform</strong><br><br>

        <strong>python, flask, html, css, SQLAlchemy, mysql, google drive api, pillow, bcrypt</strong>
        <br><br>

        A full-stack web application built with Python and Flask that serves as a food delivery scheduling platform for a school's athletic community. Features a multi-tiered user system (user, staff, admin), order processing, and robust integration with the Google Drive API for automated receipt management.

    </a></li>

    <li><a target="_blank" href="https://github.com/benastahl/whs-waygrade">waygrade</a></li>

    <li><a target="_blank" href="https://github.com/benastahl/adyen_df_python">adyen device fingerprint generator</a></li>

</ul>

</body>
</html>