<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projects - Ben Stahl</title>
    <link rel="stylesheet" href="../static/stylesheets/all.css">
    <link rel="stylesheet" href="../static/stylesheets/projects.css">

</head>
<body>
<p class="home-redirect"><a href="/">home</a></p>

<ul>
    <li><a href="https://github.com/benastahl/ben_portfolio_website">this website</a></li>
    <li><a href="https://github.com/benastahl/chrome-recaptcha-harvester">chrome recaptcha harvester</a></li>
    <li><a href="https://github.com/benastahl/tclslang">tclslang api</a></li>
    <li><a href="https://github.com/benastahl/heardle-ultimate">heardles ultimate web game</a></li>
    <li><a href="https://github.com/benastahl/cvs-reserve">covid-19 vaccine appointment scheduler</a></li>
    <li><a href="https://github.com/benastahl/leetarena">leet arena game</a></li>
    <li><a href="https://github.com/benastahl/athleats">athleats</a></li>
    <li><a href="https://github.com/benastahl/whs-waygrade">waygrade</a></li>
    <li><a href="https://github.com/benastahl/adyen_df_python">adyen device fingerprint generator</a></li>
</ul>

</body>
</html>