<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projects - Ben Stahl</title>
    <link rel="stylesheet" href="../static/stylesheets/all.css">
    <link rel="stylesheet" href="../static/stylesheets/projects.css">

</head>
<body>
<p class="home-redirect"><a href="/">home</a></p>

<ul>
    <li><a href="https://github.com/benastahl/ben_portfolio_website"><strong>this website</strong><br><br>

        <strong>python, html, flask</strong>
        <br><br>

        a simple website with the goal of conveying professional and personal info about
        me as easily and clearly as possible. adapted for mobile.

    </a></li>
    <li><a href="https://github.com/benastahl/chrome-recaptcha-harvester"><strong>chrome recaptcha harvester</strong><br><br>

        <strong>python3, html, css, flask, chromedriver, multi-threading</strong>
        <br><br>

        my most popular open-source project I made for people looking to automate web-scraping or data
        collection from websites that have recaptcha v2 (image select) and v3 (invisible). The project works
        as both a harvester and a pipeline for recaptcha tokens. I spent around four years
        perfecting and updating this project.

    </a></li>
    <li><a href="https://github.com/benastahl/tclslang"><strong>tclslang api</strong><br><br>

        <strong>c/c++, svlang</strong>
        <br><br>
        a super educational project I did that parses verilog and systemverilog through a c++ api (svlang), and
        allows for tcl to call commands from that api to parse a .v or .sv script.

    </a></li>

    <li><a href="https://github.com/benastahl/cpp-enc-server-cse303"><strong>encrypted c++ server/client - for lehigh OS class</strong><br><br>

        <strong>c/c++</strong>
        <br><br>
        A project that I built on over the course of my lehigh university operating systems (cse303).
        Manages encrypted communication and commands between a client and server, all in c/c++.

    </a></li>

    <li><a href="https://github.com/benastahl/heardle-ultimate"><strong>heardles ultimate web game</strong><br><br>

        <strong>python3, html, css, javascript, flask, spotify sdk and oauth</strong>
        <br><br>

        A game that uses spotify's sdk to let you search up any artist and try to guess a random song from
        their library based on the first few seconds.


    </a></li>

    <li><a href="https://github.com/benastahl/QueueIT-MASTER"><strong>queue-it bot</strong><br><br>

        <strong>go(lang)</strong>
        <br><br>
        An outdated bot/webscraper I made for comission that allows a user to enter many entries into a queue-it queue.
        The project was also great for when I started learning Go.
        Reverse engineers any bot protection or challenges, uses multi-threading for many tasks, keeps track of
        how many tasks are in queue and their place in line, and sends a webhook with the queue-pass link when a task
        make it through the queue.

    </a></li>

    <li><a href="https://github.com/benastahl/cvs-reserve"><strong>covid-19 vaccine appointment scheduler</strong><br><br>

        <strong>python, requests</strong>
        <br><br>

        One of my first ever programs. I made it for my family to monitor and reserve covid-19 vaccine appointments
        at CVS when slots were limited.

    </a></li>

    <li><a href="https://github.com/benastahl/leetarena"><strong>leet arena game</strong><br><br>

        <strong>python, flask, mongodb, websockets, javascript</strong>
        <br><br>

        A full-stack, real-time multiplayer coding game. Players can create lobbies, invite friends, and compete to solve
        a randomly selected algorithm problem the fastest. The backend uses Flask-SocketIO for live communication
        and MongoDB for storing user and game data.

    </a></li>

    <li><a href="https://github.com/benastahl/athleats">athleats</a></li>

    <li><a href="https://github.com/benastahl/whs-waygrade">waygrade</a></li>

    <li><a href="https://github.com/benastahl/adyen_df_python">adyen device fingerprint generator</a></li>

</ul>

</body>
</html>