<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ben Stahl - Resume</title>
    <link rel="stylesheet" href="../static/stylesheets/all.css">
    <link rel="stylesheet" href="../static/stylesheets/resume.css">
</head>
<body>
<p class="home-redirect"><a href="/">home</a></p>

<div class="resume-container">
    <embed class="resume" src="../static/Ben%20Stahl%20-%20Professional%20Resume%20(08_07_25).pdf"
           type="application/pdf">
</div>

<div class="open-pdf-container">
    <a class="btn" href="../static/Ben%20Stahl%20-%20Professional%20Resume%20(08_07_25).pdf" target="_blank" rel="noopener">Open PDF</a>
</div>

</body>
</html>